/* свойства по-умолчанию для всех элементов */

.App {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--primary-color);
    font: var(--font-m);
}

.App__PageContent {
    display: flex;
    flex-grow: 1;
}
