/* свойства по-умолчанию для всех элементов */

.App {
    min-height: 100vh;
    background: var(--background-color-gray-4);
    color: var(--text-color-gray-primary);
    font: var(--font-m);
}

.App__PageContent {
    display: flex;
    flex-grow: 1;
}
