.NavigationBar {
  display: flex;
  align-items: center;
  gap: 16px;

  width: 100%;
  height: var(--navigation-bar-height);

  padding: 14px 20px;

  background: var(--inverted-bg-color);
}

.NavigationBar__Links {
  display: flex;
  gap: 16px;
  margin-left: auto;
}
