.Theme_dark {
  --bg-color: #0f0b21;
  --inverted-bg-color: #ffffff;

  --primary-color: #b2a8ee;
  --inverted-primary-color: #251f4b;

  --secondary-color: #7269ff;
  --inverted-secondary-color: #7269ff;
}
