.App.light {
    --bg-color: #FFFFFF;
    --inverted-bg-color: #0F0B21;

    --primary-color: #251F4B;
    --inverted-primary-color: #B2A8EE;
    
    --secondary-color: #7269FF;
    --inverted-secondary-color: #7269FF;
}