.Theme_light {
    /* Цвета */
    --color-strict-transparent: rgb(255 255 255 / 0%);
    --color-strict-gray-050: rgb(71 90 128 / 50%);
    --color-strict-gray-070: rgb(0 12 36 / 70%);
    --color-strict-gray-060: rgb(26 43 77 / 60%);
    --color-strict-gray-800: rgb(47 55 71);
    --color-white-050: rgb(255 255 255 / 50%);
    --color-white-060: rgb(255 255 255 / 70%);
    --color-white-100: rgb(255 255 255);
    --color-gray-010: rgb(202 214 238 / 10%);
    --color-gray-015: rgb(176 189 214 / 15%);
    --color-gray-020: rgb(176 189 214 / 20%);
    --color-gray-030: rgb(165 177 202 / 30%);
    --color-gray-040: rgb(134 148 176 / 40%);
    --color-gray-050: rgb(71 90 128 / 50%);
    --color-gray-060: rgb(26 43 77 / 60%);
    --color-gray-070: rgb(0 12 36 / 70%);
    --color-gray-080: rgb(47 55 71);
    --color-gray-090: rgb(18 23 37 / 95%);
    --color-gray-200: rgb(246 248 251);
    --color-gray-300: rgb(239 242 247);
    --color-gray-500: rgb(163 172 191);
    --color-yellow-010: rgb(255 221 87 / 40%);
    --color-yellow-020: rgb(255 221 87 / 55%);
    --color-yellow-060: rgb(255 210 31 / 60%);
    --color-yellow-100: rgb(255 221 87);
    --color-yellow-200: rgb(255 210 31);
    --color-yellow-300: rgb(247 196 8);
    --color-red-010: rgb(221 0 0 / 10%);
    --color-red-020: rgb(221 0 0 / 20%);
    --color-red-040: rgb(221 0 0 / 40%);
    --color-red-060: rgb(221 0 0 / 60%);
    --color-red-100: rgb(221 0 0);
    --color-green-010: rgb(51 179 67 / 15%);
    --color-green-020: rgb(51 179 67 / 25%);
    --color-green-030: rgb(51 179 67 / 33%);
    --color-green-060: rgb(51 179 67 / 70%);
    --color-green-100: rgb(51 179 67);
    --color-blue-010: rgb(73 139 255 / 20%);
    --color-blue-060: rgb(73 139 255 / 70%);
    --color-blue-100: rgb(73 139 255);
    --color-purple-020: rgb(122 69 229 / 20%);
    --color-purple-030: rgb(122 69 229 / 30%);
    --color-purple-060: rgb(149 83 255 / 60%);
    --color-purple-100: rgb(149 83 255);
    --color-purple-200: rgb(95 54 178);

    /* Стили теней */
    --shadow-tooltip: 0px 4px 8px rgb(165 177 202 / 30%), 0px 0px 3px rgb(165 177 202 / 30%);
    --shadow-filter-tooltip: drop-shadow(0px 4px 8px rgb(165 177 202 / 30%)) drop-shadow(0px 0px 3px rgb(165 177 202 / 30%));
    --shadow-popover: 0px 0px 3px rgb(165 177 202 / 30%), 0px 10px 40px rgb(165 177 202 / 30%);
    --shadow-filter-popover: drop-shadow(0px 0px 3px rgb(165 177 202 / 30%)) drop-shadow(0px 10px 40px rgb(165 177 202 / 30%));
    --shadow-dialog: 0px 10px 40px rgb(18 23 37 / 50%), 0px 0px 3px rgb(18 23 37 / 50%);
    --shadow-filter-dialog: drop-shadow(0px 10px 40px rgb(18 23 37 / 50%)) drop-shadow(0px 0px 3px rgb(18 23 37 / 50%));
}
