.App.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #0f0b21;

  --primary-color: #251f4b;
  --inverted-primary-color: #b2a8ee;

  --secondary-color: #7269ff;
  --inverted-secondary-color: #7269ff;
}
