.UnhandledErrorPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-m);
    height: 100vh;
    padding: var(--padding-l);
    flex-grow: 1;
}

.UnhandledErrorPage__title {
    font: var(--font-l);
}

.UnhandledErrorPage__details {
    font: var(--font-m);
}