.NavigationBar {
    display: flex;
    align-items: center;
    gap: var(--gap-m);
    width: 100%;
    height: var(--navigation-bar-height);
    padding: var(--padding-m) var(--padding-l);
    background: var(--background-color-blue-2);
}

.NavigationBar__Links {
    display: flex;
    gap: var(--gap-m);
    margin-left: auto;
}
