.Icon {
    display: flex;
    flex-shrink: 1;
}

.Icon_color_primary {
    color: var(--inverted-primary-color);
}

.Icon_color_secondary {
    color: var(--primary-color);
}

.Icon_size_s {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
}

.Icon_size_m {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
}

.Icon_size_l {
    width: var(--icon-size-l);
    height: var(--icon-size-l);
}
