.Icon {
    display: flex;
    flex-shrink: 0;
    transition: var(--transition-change-animation);
}

.Icon_color_white {
    color: var(--icon-color-white-primary);
}

.Icon_color_blue {
    color: var(--icon-color-blue-primary);
}

.Icon_size_s {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
}

.Icon_size_m {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
}

.Icon_size_l {
    width: var(--icon-size-l);
    height: var(--icon-size-l);
}
