.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    height: 32px;  
    padding: 8px 16px;
    border: none;
    border-radius: var(--border-radius-m);
    cursor: pointer;
    font: var(--font-m);
}

.Button_color_primary {
    background: var(--primary-color);
    color: var(--inverted-primary-color);
}

.Button_color_secondary {
    background: var(--inverted-secondary-color);
    color: var(--secondary-color);
}
